<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"6rem","bottom":"4rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:6rem;padding-bottom:4rem">

	<!-- wp:group {"layout":{"type":"constrained","contentSize":"1000px"}} -->
	<div class="wp-block-group">

		<!-- Page Title -->
		<!-- wp:post-title {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"2rem"}}}} /-->

		<!-- Page Content -->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
